<h1>Calculator</h1>

<form (submit)="calc()">
    <div>
        <input [(ngModel)]="expression" name="expression" />
        <button type="submit">=</button> {{ value }}
    </div>

    <div class="numpad-container">

        <div class="numpad">
            <div *ngFor="let nr of numbers" class="numpad__item">{{ nr }}</div>
        </div>

        <div class="operators">
            <div *ngFor="let x of ['+', '-', 'x', '/']" class="operators__item">{{ x }}</div>
        </div>
    </div>
</form>
