.numpad-container {
    display: flex;
}

.numpad {
    display: flex;
    flex-flow: row wrap;
    width: 300px;
}

.numpad__item {
    flex: 1 0 33.3333%;

    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
}

.numpad__item:last-child {
    flex: 3;
}

.operators__item {
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    width: 100px;
}